<div class="header">
  <img src="../../assets/pics/logo.png" alt="assda" class="logo">
  <div class="nav">
    <nav>
      <a routerLink="/home">HOME</a>
      <a routerLink="/services">SERVICES</a>
      <a routerLink="/about">ABOUT</a>
      <a routerLink="/pricing">PRICING</a>
      <a routerLink="/contact">CONTACT</a>

    </nav>

  </div>
  <hr>

</div>
<!-- <app-admin-page></app-admin-page>
<app-admin-dashboard-page></app-admin-dashboard-page> -->
<section class="main">
  <router-outlet fxFlex="80"></router-outlet>
</section>



<div class="footer">
  <p>privacy policy | terms & condition ©<b> 2022 | Chore’s Assistant</b> </p>
</div>
