<div class="all">

  <div class="driverInformation">


    <div class="imageplaced">

      <img src="" alt="profile image">
    </div>

    <p class="welcome"> Welcome (First Name of Driver)!</p>
    <p class="fullName"><b> Name: (Full Name of Driver) </b></p>
    <p class="address"> Address: (Address of the Driver)</p>
    <p class="phoneNumber">Phone Number: (09329167354) </p>
    <p class="email">Email: (juspherbalangyao@gmail.com)</p>

  </div>


  <div class="appointmentDetails">
    <div class="apointmentTitle">
      <p class="AppointmentText">Appointment Details</p>


    </div>
    <table class="tableDescription">
      <tr class="tableHeaders">
        <th>Apointment No.</th>
        <th>Type of Service</th>
        <th>Total Payment</th>
        <th>Pick Up Status</th>

      </tr>
      <tr class="tableRows">
        <td>(Appointment No. of Appointment)</td>
        <td>(Type of service of Appointment)</td>
        <td>( total payment of Appointment)</td>
        <td>(Status of Appointment)</td>
      </tr>


    </table>
  </div>

  <div class="completedAppointment">
    <div class="completedTitle">
      <p class="completedText">Completed</p>

      <p class="dateTimeCollected">Date & Time Collected:</p>
      <p class="dateTimeDelivered">Date & Time Delivered:</p>

    </div>


  </div>

  <div class="onHoldAppointment">
    <div class="onHoldTitle">
      <p class="onholdText">On Hold</p>
      <table class="tableDescription">
        <tr class="tableHeaders">
          <th>Apointment No.</th>
          <th>Type of Service</th>
          <th>Total Payment</th>
          <th>Pick Up Status</th>

        </tr>
        <tr class="tableRows">
          <td>(Appointment No. of Appointment)</td>
          <td>(Type of service of Appointment)</td>
          <td>( total payment of Appointment)</td>
          <td>
            <img src="../../assets/pics/customerAccount/edit 1.png" alt="" class="editImage">
            <img src="../../assets/pics/customerAccount/close red 1.png" alt="" class="closeImage">
          </td>
        </tr>

      



      </table>
    </div>

  </div>
</div>
