<div>
  <app-admin-page></app-admin-page>

  <div class="employeeDetailsCcard">
  <div class="employeedetail">
    <p class="employeedetailText">Customer Details</p>
  </div>

  <div >
    <table class="tableofEmployeedetails">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Hannah</td>
        <td>Bohol</td>
        <td>09635294204</td>
        <td>baddnana98@gmail.com</td>
        <td>secret(HAHA)</td>


      </tr>

    </table>
  </div>
  </div>

  </div>

