<p class="optiontext">Multiple Pricing Options</p>
<p class="subOptionText">We’ve prepared pricing plans for all the service according to your needs.</p>


<div class="price-card">
  <div class="firstprice">
    <p class="typetext1">STANDARD SERVICES </p>
    <p class="subtypetext1">(All Types of Clothes)</p>

    <hr class="hr1">
    <p class="price1">₱999</p>
    <p class="pricetext1"> Up To 3 pounds</p>

    <hr class="hr2">

    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon1">
    <p class="firstpricetext1">Laundry</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon2">
    <p class="firstpricetext2">Starch and Press</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon3">
    <p class="firstpricetext3">Dry Wash</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon4">
    <p class="firstpricetext4">Ironing</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon5">
    <p class="firstpricetext5">1 to 5kms away (Pickup and Delivery)</p>

    <p class="note">Note:</p>
    <p class="firstnote1"> 1. Additional 80 pesos Pickup and Delivery charge up to 6 to 10kms</p>
    <p class="firstnote2">2. Additional 200 pesos each kilogram</p>


    <div class="center">
      <input type="checkbox" id="click">
      <label for="click" class="click-me"> Book Now</label>
      <div class="content">
        <div class="header">
          <p class="customerInformationText">Customer Information</p>
          <hr class="hrPopUp">
          <label for="click" class="fas fa-times"></label>
        </div>
        <div class="form">
          <form action="">
            <p class="LabelFullname"> Full Name</p>
            <input type="text" class="input-fullname">

            <p class="LabelAddress">Address</p>
            <input type="text" class="input-address">

            <p class="LabelPhone">Phone Number</p>
            <input type="text" class="input-phone">

            <p class="LabelEmail">Email</p>
            <input type="text" class="input-email">

            <p class="LabelService">Type of Service</p>
            <input type="text" class="input-service">


            <p class="LabelPrice">Price</p>
            <input type="text" class="input-price">

            <p class="LabelClothes">Clothes Weight</p>
            <input type="text" class="input-clothes">

            <p class="LabelPayment">Total Payment</p>
            <input type="text" class="input-payment">

            <p class="LabelTime">Available Time</p>
            <input type="text" class="input-time">

            <p class="LabelDate">Available Date</p>
            <input type="text" class="input-date">

            <!-- <button type="submit" class="popUpBook"> Book Now</button> -->
            <button class="popUpBook" id="click2" (click)="booknow()"> Book Now</button>




            <button class="popUpLater" (click)="booklater()"> Book Later</button>
          </form>



        </div>

        <!-- <label for="click" class="close-btn"> close</label> -->
      </div>
    </div>




  </div>

  <div class="secondprice">


    <p class="typetext1">STANDARD SERVICES </p>
    <p class="subtypetext1">(special Items)</p>
    <p class="price1">₱1400</p>
    <p class="pricetext1"> Up To 4 pounds</p>
    <hr class="hr1">


    <hr class="hr2">
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon1">
    <p class="firstpricetext1">Laundry</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon2">
    <p class="firstpricetext2">Starch and Press</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon3">
    <p class="firstpricetext3">Dry Wash</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon4">
    <p class="firstpricetext4">Ironing</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon5">
    <p class="firstpricetext5">1 to 5kms away (Pickup and Delivery)</p>

    <p class="note">Note:</p>
    <p class="firstnote1"> 1. Additional 80 pesos Pickup and Delivery charge up to 6 to 10kms</p>

    <p class="firstnote2">2. Additional 350 pesos each kilogram</p>

    <div class="center">
      <input type="checkbox" id="click">
      <label for="click" class="click-me"> Book Now</label>
      <div class="content">
        <div class="header">
          <p class="customerInformationText">Customer Information</p>
          <hr class="hrPopUp">
          <label for="click" class="fas fa-times"></label>
        </div>
        <div class="form">
          <form action="">
            <p class="LabelFullname"> Full Name</p>
            <input type="text" class="input-fullname">

            <p class="LabelAddress">Address</p>
            <input type="text" class="input-address">

            <p class="LabelPhone">Phone Number</p>
            <input type="text" class="input-phone">

            <p class="LabelEmail">Email</p>
            <input type="text" class="input-email">

            <p class="LabelService">Type of Service</p>
            <input type="text" class="input-service">


            <p class="LabelPrice">Price</p>
            <input type="text" class="input-price">

            <p class="LabelClothes">Clothes Weight</p>
            <input type="text" class="input-clothes">

            <p class="LabelPayment">Total Payment</p>
            <input type="text" class="input-payment">

            <p class="LabelTime">Available Time</p>
            <input type="text" class="input-time">

            <p class="LabelDate">Available Date</p>
            <input type="text" class="input-date">

        
            <button class="popUpBook" id="click2" (click)="booknow()"> Book Now</button>




            <button class="popUpLater" (click)="booklater()"> Book Later</button>
          </form>



        </div>


      </div>
    </div>
  </div>

  <div class="thirdprice">

    <p class="typetext1">PREMIUM SERVICES </p>
    <p class="subtypetext1">(Laundry/Starch and Press
      /Dry Wash/Ironing)</p>
    <p class="price1">₱</p>
    <p class="pricetext1">Per Piece</p>
    <hr class="hr1">


    <hr class="hr2">

    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon1">
    <p class="thirdpricetext1">POLO (50)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon2">
    <p class="thirdpricetext2">Pants/Trouser (100)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon3">
    <p class="thirdpricetext3">Coat/Blazer (150)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon4">
    <p class="thirdpricetext4">Jacket Simple/Leather (200)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon5">
    <p class="thirdpricetext5"> Blouse Short/Long (80)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon6">
    <p class="thirdpricetext6">Skirt Short/Long (80)</p>
    <p class="note">Note:</p>
    <p class="thirdnote1">
      1. Additional 50 pesos Pickup and Delivery charge up to 1 to 5kms and 80 pesos to 6 to 10kms</p>
      <div class="center">
        <input type="checkbox" id="click">
        <label for="click" class="click-me"> Book Now</label>
        <div class="content">
          <div class="header">
            <p class="customerInformationText">Customer Information</p>
            <hr class="hrPopUp">
            <label for="click" class="fas fa-times"></label>
          </div>
          <div class="form">
            <form action="">
              <p class="LabelFullname"> Full Name</p>
              <input type="text" class="input-fullname">
      
              <p class="LabelAddress">Address</p>
              <input type="text" class="input-address">
      
              <p class="LabelPhone">Phone Number</p>
              <input type="text" class="input-phone">
      
              <p class="LabelEmail">Email</p>
              <input type="text" class="input-email">
      
              <p class="LabelService">Type of Service</p>
              <input type="text" class="input-service">
      
      
              <p class="LabelPrice">Price</p>
              <input type="text" class="input-price">
      
              <p class="LabelClothes">Clothes Weight</p>
              <input type="text" class="input-clothes">
      
              <p class="LabelPayment">Total Payment</p>
              <input type="text" class="input-payment">
      
              <p class="LabelTime">Available Time</p>
              <input type="text" class="input-time">
      
              <p class="LabelDate">Available Date</p>
              <input type="text" class="input-date">
      
              <!-- <button type="submit" class="popUpBook"> Book Now</button> -->
              <button class="popUpBook" id="click2" (click)="booknow()"> Book Now</button>
      
      
      
      
              <button class="popUpLater" (click)="booklater()"> Book Later</button>
            </form>
      
      
      
          </div>
      
          <!-- <label for="click" class="close-btn"> close</label> -->
        </div>
      </div>
  </div>

  <div class="fourthprice">

    <p class="typetext1">PREMIUM SERVICES </p>
    <p class="subtypetext1">(Laundry/Starch and Press
      /Dry Wash/Ironing)</p>

    <hr class="hr1">

    <p class="price1">₱</p>
    <p class="pricetext1">Per Piece</p>
    <hr class="hr2">
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon1">
    <p class="fourthpricetext1">All Types of Gowns (400)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon7">
    <p class="fourthpricetext2">Dress Short/Long (120)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon8">
    <p class="fourthpricetext3">Shoes/Sneakers (300)</p>
    <br>
    <img src="../../assets/pics/pricing/Check.png" alt="" class="checkIcon9">
    <p class="fourthpricetext4">Stuffed Toy (150)</p>
    <p class="note">Note:</p>
    <p class="thirdnote1"> 1. Additional 50 pesos Pickup and Delivery charge up to 1 to 5kms and 80 pesos to 6 to 10kms
    </p>

    <div class="center">
      <input type="checkbox" id="click">
      <label for="click" class="click-me"> Book Now</label>
      <div class="content">
        <div class="header">
          <p class="customerInformationText">Customer Information</p>
          <hr class="hrPopUp">
          <label for="click" class="fas fa-times"></label>
        </div>
        <div class="form">
          <form action="">
            <p class="LabelFullname"> Full Name</p>
            <input type="text" class="input-fullname">
    
            <p class="LabelAddress">Address</p>
            <input type="text" class="input-address">
    
            <p class="LabelPhone">Phone Number</p>
            <input type="text" class="input-phone">
    
            <p class="LabelEmail">Email</p>
            <input type="text" class="input-email">
    
            <p class="LabelService">Type of Service</p>
            <input type="text" class="input-service">
    
    
            <p class="LabelPrice">Price</p>
            <input type="text" class="input-price">
    
            <p class="LabelClothes">Clothes Weight</p>
            <input type="text" class="input-clothes">
    
            <p class="LabelPayment">Total Payment</p>
            <input type="text" class="input-payment">
    
            <p class="LabelTime">Available Time</p>
            <input type="text" class="input-time">
    
            <p class="LabelDate">Available Date</p>
            <input type="text" class="input-date">
    
            <!-- <button type="submit" class="popUpBook"> Book Now</button> -->
            <button class="popUpBook" id="click2" (click)="booknow()"> Book Now</button>
    
    
    
    
            <button class="popUpLater" (click)="booklater()"> Book Later</button>
          </form>
    
    
    
        </div>
    
        <!-- <label for="click" class="close-btn"> close</label> -->
      </div>
    </div>


  </div>
</div>