<div>
<app-admin-page></app-admin-page>

<div class="employeeDetailsCcard">
<div class="employeedetail">
  <p class="employeedetailText">Employee Details</p>
</div>

<div >
  <table class="tableofEmployeedetails">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>January</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>
      <td>$100</td>


    </tr>

  </table>
</div>
</div>

</div>
