<div class="all">
<div class="driverInformationSection">
<img src="" alt="Driver's Images" class="driverImage">
<p class="welcomeText"> Welcome (Name of Driver)!</p>
<p class="fullname">Name: Juspher Balangyao</p>
<p class="address">Address: Talamban, Cebu City</p>
<p class="phoneNumber">Phone Number: 09329167354</p>
<p class="driverEmail">Email: juspherbalangyao@gmail.com</p>
</div>

<div class="customerList">
  <div class="title">
<p class="customerListText">Customer List ( Pick-Up)</p>
<div >
  <table class="tableCustomerList">
    <tr>
      <th class="tableheader">Name</th>
      <th class="tableheader">Location/Address</th>
      <th class="tableheader">Phone Number</th>
      <th class="tableheader">Status</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>
      <button class="Button">  &nbsp; PICK UP</button>
      </td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>
      <button class="Button">  &nbsp; PICK UP</button>
      </td>
    </tr>


  </table>
</div>
  </div>

</div>


<div class="customerListDelivery">
  <div class="titleDelivery">
<p class="customerListDeliveryText">Customer List (Delivery)</p>
<div >
  <table class="tableCustomerDeliveryList">
    <tr>
      <th class="tableheader">Name</th>
      <th class="tableheader">Location/Address</th>
      <th class="tableheader">Phone Number</th>
      <th class="tableheader">Status</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>
      <button class="Button">  &nbsp; DELIVER </button>
      </td>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>
      <button class="Button">  &nbsp; DELIVER</button>
      </td>
    </tr>


  </table>
</div>
  </div>

</div>
</div>
