<div id="about">
  <img src="../../assets/pics/girllanding2.png" alt="" class="girl2">
  <p class="aboutUs">About Us</p>
  <br>
  <p class="AboutDescription">Chore’s Assistant is the easiest online laundry service to utilize a process that
    restores
    and revitalizes colors and textures. We use 100% organic solution for washing to remove all dirt from your
    fabric.
  </p>
  <p class="AboutDescription1"> Our mission is to establish a value laden relationship with clients, providing them
    a
    convenient, eco-friendly, efficient, effective and hygiene oriented dry cleaning and laundry management
    solutions.
  </p>
</div>
