<div class="all">
  <div class="adminInformation">
    <div>
      <img src="" alt="Admin Image" class="adminImage">
    </div>
    <div class="personalInfo">
      <p class="adminFullname">Alyssa Canutan</p>
      <p class="adminNumber">09123456789</p>
      <p class="adminEmail">alyssa@gmail.com</p>
    </div>


    <div class="menu">


        <button class="dashboard" (click)="ondashboardClick()">
          <p class="menuText">Dashboard</p>
        </button>



        <button class="employeeInformation" (click)="onemployeeInformationClick()">
          <p class="menuText">Employee Information</p>
        </button>


        <button class="customerInformation" (click)="oncustomerInformationClick()">
          <p class="menuText">Customer Information</p>
        </button>



    </div>




  </div>

</div>
