<div class="total">
  <div class="totals">
    <div class="totalCustomer">
      <div class="totalCustomerText">
        <p class="totalText">Total of Customer</p>
        <table class="tableOfTotals">

          <tr>
            <td>45</td>

          </tr>
        </table>

      </div>
    </div>

    <div class="totalDriver">
      <div class="totalDriverText">
        <p class="totalText">Total of Driver</p>

        <table class="tableOfTotals">

          <tr>
            <td>45</td>

          </tr>
        </table>
      </div>
    </div>

    <div class="totalDelivered">
      <div class="totaldeliveredtext">
        <p class="totalText">Total of Delivered</p>

        <table class="tableOfTotals">

          <tr>
            <td>45</td>

          </tr>
        </table>
      </div>

    </div>
  </div>

  <div class="completedList">
    <p class="Text">Completed List</p>
    <table class="tableOfCompletedList">

      <tr>
        <th>Appointment No.</th>
        <th>Customer Address</th>
        <th>Type of Service</th>
        <th>Total Amount</th>
        <th>Driver</th>
        <th>Book Date</th>
        <th>Date Delivered</th>

      </tr>
      <tr>
        <td>45</td>
        <td>Talamban</td>
        <td>standard chuchu</td>
        <td>5000</td>
        <td>juspher</td>
        <td>secret</td>
        <td>secret</td>

      </tr>
    </table>
  </div>

  <div class="OrderList">
    <p class="Text">Order List</p>
    <table class="tableOfCompletedList">

      <tr>
        <th>Appointment No.</th>
        <th>Customer Address</th>
        <th>Type of Service</th>
        <th>Total Amount</th>

        <th>Date and Time</th>
        <th>Status</th>

      </tr>
      <tr>
        <td>45</td>
        <td>Talamban</td>
        <td>standard chuchu</td>
        <td>5000</td>
        <td>juspher</td>
        <td>secret</td>


      </tr>
    </table>
  </div>
</div>

<app-admin-page></app-admin-page>
