<div class="content">
  <img src="../../assets/pics/contact/Frame.png" alt="" class="background">
<div>
  <img src="../../assets/pics/Phone (1).png" alt="" class="phone">
  <p class="contactus">Contact Us</p>
  <p class="num1">639 329 167 354</p>
  <p class="num2">1900 3884 3889</p>

</div>
<div>
  <img src="../../assets/pics/Placeholder.png" alt="" class="place">
  <p class="placep">Location</p>
  <p class="place1">Nasipit Road, Talamban Cebu City, Philippines 6000</p>
</div>

<div class="contact-card">
  <div class="container">
    <div class="contact-content">
      <h2 class="contact">CONNECT WITH US </h2>
      <br><br><br>
      <input type="text" placeholder="Full Name" name="Fname" class="input-name" required>
      <hr class="firsthr">
      <br>
      <br>

      <input type="address" placeholder="Address" name="add" class="input-address" required>
      <hr class="secondhr">
      <br> <br>
      <input type="email" placeholder="E-mail" name="mail" class="input-email" required>
      <hr class="thirdhr">
      <br> <br>
      <input type="text" placeholder="Phone No" name="num" class="input-number" required>
      <hr class="fourthhr">
      <br> <br>
      <input type="message" placeholder="Message" name="message" class="input-message" required>
      <hr class="fifthhr">
      <br><br>
      <button type="submit" class="submit-button">SUBMIT</button>

    </div>
    <br>
  </div>
</div>
