<div class="servicesContent">
  <p class="serviceDescription">Our Services</p>
  <p class="servicesSubDescription">EVERY LAUNDRY SERVICE THAT YOU NEED</p>



  <div class="service-card">


    <div class="laundryservice">
<img src="../../assets/pics/services/Washing machine.png" alt="" class="washingMachineIcon">
<p class="laundry">Laundry</p>
<p class="laundryDescription"> The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes</p>
    </div>


    <div class="starchandPressService">
<img src="../../assets/pics/services/Print.png" alt="" class="shirtIcon">
<p class="starchandPress">Starch and Press</p>
<p class="starchandPressDescription">Adds crispness and structure, providing body to cotton and linen items.   </p>
    </div>


    <div class="drywashService">
      <img src="../../assets/pics/services/Hanger.png" alt="" class="hangerIcon">
      <p class="drywash">Dry Wash</p>
      <p class="drywashDescription">Cleaning process for clothing and textiles using an organic solvent rther than water.</p>

    </div>

    <div class="ironingservice">

      <img src="../../assets/pics/services/Ironing.png" alt="" class="ironIcon">
      <p class="ironing">Ironing</p>
      <p class="ironingDescription">Remove wrinkles from fabric. Get your garments Clean and Crispy.</p>
    </div>


  </div>








</div>
