
  <img src="../../assets/pics/girlInLogin.png" alt="ssdfsuhfuhsufhushuh" class="login-image">
  <div class="title">
    <p>Chore's Assistant</p>
  </div>
  <div class="login-card">
    <div class="container">
      <div class="login-content">

        <h2 class="signIn-label">Sign in </h2>
        <br><br><br>
        <input type="text" placeholder="Enter Username/Email" name="uname" class="input-email" required>

        <br>
        <br>

        <input type="password" placeholder="Enter Password" name="psw" class="input-password" required>
        <br> <br>
        <button type="submit" class="login-button">LOGIN</button>
        <Button (click)="onloginAdminClick()" class="adminOption">Admin?</Button>

      </div>
      <br>
    </div>
    <div class="option">
      <p>doesn’t have an account? <span class="signUpHere"> <a routerLink="/register"><b> Sign up here.</b></a> </span> </p>

      <p>or log in with</p>

      <i class='bx bxl-linkedin-square bx-sm' style="color:  #235F83;"></i>
      <i class='bx bxl-google bx-sm' style="color:  #235F83;"></i>
      <i class='bx bxl-gmail bx-sm' style="color:  #235F83;"></i>

    </div>
  </div>





